<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Timestamp Microservice - API</h1>
    <hr>
    <br>
    <h3>Example usage:</h3>
    <div>
        <!-- <a href="https://timestamp-microservice.freecodecamp.rocks/api/2015-12-25">[url]/api/2015-12-25</a> -->
        <a href="http://localhost:3000/api/2015-12-25">[url]/api/2015-12-25</a>
    </div>
    <div>
        <!-- <a href="https://timestamp-microservice.freecodecamp.rocks/api/1451001600000">[url]/api/1451001600000</a> -->
        <a href="http://localhost:3000/api/1451001600000">[url]/api/1451001600000</a>
    </div>
    <!-- <p>[url]/api/1451001600000</p> -->
    <p>Hello</p>
    <p>Hello</p>
</body>

</html>